*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
release/
src/androidTest/
src/main/res/drawable-anydpi/
src/main/res/drawable-hdpi/
src/main/res/drawable-mdpi/
src/main/res/drawable-xhdpi/
src/main/res/drawable-xxhdpi/
src/main/res/drawable-xxxhdpi/
src/test/
