*.iml
.idea
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
release/
src/androidTest/
src/main/res/drawable-anydpi/
src/main/res/drawable-hdpi/
src/main/res/drawable-mdpi/
src/main/res/drawable-xhdpi/
src/main/res/drawable-xxhdpi/
src/main/res/drawable-xxxhdpi/
src/test/
